# Delhi to Kolkata

In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException,ElementNotInteractableException

#Importing requests
import requests

# importing regex
import re

In [2]:
#calling the driver
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1381161930524&version=1.1&viewName=normal')

In [4]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [5]:
df1=pd.DataFrame()
df1['Company Name']=company_name
df1['Departure time']=departure_time
df1['Arrival Time']=arrival_time
df1['Duration']=duration
df1['No of stops']=no_of_stops
df1['Rates']=rates
df1['No of days in advanced booked']=1
df1['class']='Economy'
df1['where to where']="Delhi - Kolkata"
df1['Root Value']=6

In [6]:
df1.shape

(25, 10)

In [7]:
df1.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,18:40,01:35\n+ 1 day,6h 55m,1 Stop,"5,951",1,Economy,Delhi - Kolkata,6
1,Air Asia,18:40,01:40\n+ 1 day,7h 00m,1 Stop,"5,951",1,Economy,Delhi - Kolkata,6
2,Air Asia,16:15,01:35\n+ 1 day,9h 20m,1 Stop,"5,951",1,Economy,Delhi - Kolkata,6
3,Air Asia,16:15,01:40\n+ 1 day,9h 25m,1 Stop,"5,951",1,Economy,Delhi - Kolkata,6
4,Air Asia,05:35,17:20,11h 45m,1 Stop,"5,951",1,Economy,Delhi - Kolkata,6

In [8]:
df1.to_csv('flight_data_37.csv')

In [13]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=432579406953&version=1.1&viewName=normal')

In [11]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [14]:
df2=pd.DataFrame()
df2['Company Name']=company_name
df2['Departure time']=departure_time
df2['Arrival Time']=arrival_time
df2['Duration']=duration
df2['No of stops']=no_of_stops
df2['Rates']=rates
df2['No of days in advanced booked']=1
df2['class']='Premium Economy'
df2['where to where']="Delhi - Kolkata"
df2['Root Value']=6

In [15]:
df2.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:20,08:20,2h 00m,Non Stop,"6,998",1,Premium Economy,Delhi - Kolkata,6
1,Vistara Premium Economy,07:30,09:35,2h 05m,Non Stop,"8,958",1,Premium Economy,Delhi - Kolkata,6
2,Vistara Premium Economy,20:30,22:45,2h 15m,Non Stop,"10,638",1,Premium Economy,Delhi - Kolkata,6
3,Vistara Premium Economy,18:00,09:15\n+ 1 day,15h 15m,1 Stop,"12,684",1,Premium Economy,Delhi - Kolkata,6
4,Vistara Premium Economy,06:40,09:15\n+ 1 day,26h 35m,1 Stop,"12,684",1,Premium Economy,Delhi - Kolkata,6

In [16]:
df2.shape

(25, 10)

In [17]:
df2.to_csv('flight_data_38.csv')

In [18]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=487039927214&version=1.1&viewName=normal')

In [17]:
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [19]:
df3=pd.DataFrame()
df3['Company Name']=company_name
df3['Departure time']=departure_time
df3['Arrival Time']=arrival_time
df3['Duration']=duration
df3['No of stops']=no_of_stops
df3['Rates']=rates
df3['No of days in advanced booked']=1
df3['class']='Business'
df3['where to where']="Delhi - Kolkata"
df3['Root Value']=6

In [20]:
df3.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:20,08:20,2h 00m,Non Stop,"6,998",1,Business,Delhi - Kolkata,6
1,Vistara Premium Economy,07:30,09:35,2h 05m,Non Stop,"8,958",1,Business,Delhi - Kolkata,6
2,Vistara Premium Economy,20:30,22:45,2h 15m,Non Stop,"10,638",1,Business,Delhi - Kolkata,6
3,Vistara Premium Economy,18:00,09:15\n+ 1 day,15h 15m,1 Stop,"12,684",1,Business,Delhi - Kolkata,6
4,Vistara Premium Economy,06:40,09:15\n+ 1 day,26h 35m,1 Stop,"12,684",1,Business,Delhi - Kolkata,6

In [21]:
df3.shape

(25, 10)

In [22]:
df3.to_csv('flight_data_39.csv')

In [23]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=50072615813&version=1.1&viewName=normal')

In [24]:

#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')

In [25]:
df4=pd.DataFrame()
df4['Company Name']=company_name
df4['Departure time']=departure_time
df4['Arrival Time']=arrival_time
df4['Duration']=duration
df4['No of stops']=no_of_stops
df4['Rates']=rates
df4['No of days in advanced booked']=7
df4['class']='Economy'
df4['where to where']="Delhi - Kolkata"
df4['Root Value']=6

In [26]:
df4.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,18:40,01:35\n+ 1 day,6h 55m,1 Stop,"5,951",7,Economy,Delhi - Kolkata,6
1,Air Asia,18:40,01:40\n+ 1 day,7h 00m,1 Stop,"5,951",7,Economy,Delhi - Kolkata,6
2,Air Asia,05:35,17:20,11h 45m,1 Stop,"5,951",7,Economy,Delhi - Kolkata,6
3,Air Asia,08:00,21:20,13h 20m,1 Stop,"5,951",7,Economy,Delhi - Kolkata,6
4,Air Asia,18:40,08:15\n+ 1 day,13h 35m,1 Stop,"5,951",7,Economy,Delhi - Kolkata,6

In [27]:
df4.shape

(25, 10)

In [28]:
df4.to_csv('flight_data_40.csv')

In [29]:
'https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1403231190395&version=1.1&viewName=normal')

SyntaxError: unmatched ')' (<ipython-input-29-1c4dbca950aa>, line 1)

In [30]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=866685160741&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df5=pd.DataFrame()
df5['Company Name']=company_name
df5['Departure time']=departure_time
df5['Arrival Time']=arrival_time
df5['Duration']=duration
df5['No of stops']=no_of_stops
df5['Rates']=rates
df5['No of days in advanced booked']=7
df5['class']='Premium Economy'
df5['where to where']="Delhi - Kolkata"
df5['Root Value']=6

df5.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air Asia,18:40,01:35\n+ 1 day,6h 55m,1 Stop,"5,951",7,Premium Economy,Delhi - Kolkata,6
1,Air Asia,18:40,01:40\n+ 1 day,7h 00m,1 Stop,"5,951",7,Premium Economy,Delhi - Kolkata,6
2,Air Asia,05:35,17:20,11h 45m,1 Stop,"5,951",7,Premium Economy,Delhi - Kolkata,6
3,Air Asia,08:00,21:20,13h 20m,1 Stop,"5,951",7,Premium Economy,Delhi - Kolkata,6
4,Air Asia,18:40,08:15\n+ 1 day,13h 35m,1 Stop,"5,951",7,Premium Economy,Delhi - Kolkata,6

In [31]:
df5.shape

(25, 10)

In [32]:
df5.to_csv('flight_data_41.csv')

In [33]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1230603345416&version=1.1&viewName=normal')

In [34]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F10%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1228471752704&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df6=pd.DataFrame()
df6['Company Name']=company_name
df6['Departure time']=departure_time
df6['Arrival Time']=arrival_time
df6['Duration']=duration
df6['No of stops']=no_of_stops
df6['Rates']=rates
df6['No of days in advanced booked']=7
df6['class']='Business'
df6['where to where']="Delhi - Kolkata"
df6['Root Value']=6

df6.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,20:15,22:20,2h 05m,Non Stop,"20,000",7,Business,Delhi - Kolkata,6
1,Air India Business,07:00,09:10,2h 10m,Non Stop,"20,000",7,Business,Delhi - Kolkata,6
2,Air India Business,16:55,19:10,2h 15m,Non Stop,"20,000",7,Business,Delhi - Kolkata,6
3,Vistara Business,07:30,09:35,2h 05m,Non Stop,"21,256",7,Business,Delhi - Kolkata,6
4,Vistara Business,14:50,16:55,2h 05m,Non Stop,"21,256",7,Business,Delhi - Kolkata,6

In [35]:
df6.to_csv('flight_data_42.csv')

In [36]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=274783162037&version=1.1&viewName=normal')

In [37]:
#Economy class
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1127818612526&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df7=pd.DataFrame()
df7['Company Name']=company_name
df7['Departure time']=departure_time
df7['Arrival Time']=arrival_time
df7['Duration']=duration
df7['No of stops']=no_of_stops
df7['Rates']=rates
df7['No of days in advanced booked']=30
df7['class']='Economy'
df7['where to where']="Delhi - Kolkata"
df7['Root Value']=6
df7.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,IndiGo,13:00,17:50,4h 50m,1 Stop,"3,621",30,Economy,Delhi - Kolkata,6
1,IndiGo,07:50,17:50,10h 00m,1 Stop,"3,621",30,Economy,Delhi - Kolkata,6
2,Go First,09:00,16:30,7h 30m,1 Stop,"3,973",30,Economy,Delhi - Kolkata,6
3,Go First,06:05,16:30,10h 25m,1 Stop,"3,973",30,Economy,Delhi - Kolkata,6
4,Air Asia,05:00,07:10,2h 10m,Non Stop,"3,999",30,Economy,Delhi - Kolkata,6

In [38]:
df7.shape

(25, 10)

In [39]:
df7.to_csv('flight_data_43.csv')

In [40]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1138841303000&version=1.1&viewName=normal')

In [41]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1166326297954&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df8=pd.DataFrame()
df8['Company Name']=company_name
df8['Departure time']=departure_time
df8['Arrival Time']=arrival_time
df8['Duration']=duration
df8['No of stops']=no_of_stops
df8['Rates']=rates
df8['No of days in advanced booked']=30
df8['class']='Premium Economy'
df8['where to where']="Delhi - Kolkata"
df8['Root Value']=6
df8.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:15,08:20,2h 05m,Non Stop,"5,300",30,Premium Economy,Delhi - Kolkata,6
1,Vistara Premium Economy,07:30,09:35,2h 05m,Non Stop,"5,300",30,Premium Economy,Delhi - Kolkata,6
2,Vistara Premium Economy,17:30,19:35,2h 05m,Non Stop,"5,300",30,Premium Economy,Delhi - Kolkata,6
3,Vistara Premium Economy,20:30,22:45,2h 15m,Non Stop,"5,300",30,Premium Economy,Delhi - Kolkata,6

In [42]:
df8.to_csv('flight_data_44.csv')

In [43]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=313413631329&version=1.1&viewName=normal')

In [44]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F11%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1411328027449&version=1.1&viewName=normal')
time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df9=pd.DataFrame()
df9['Company Name']=company_name
df9['Departure time']=departure_time
df9['Arrival Time']=arrival_time
df9['Duration']=duration
df9['No of stops']=no_of_stops
df9['Rates']=rates
df9['No of days in advanced booked']=30
df9['class']='Business'
df9['where to where']="Delhi - Kolkata"
df9['Root Value']=6
df9.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,20:15,22:20,2h 05m,Non Stop,"28,536",30,Business,Delhi - Kolkata,6
1,Air India Business,06:50,09:00,2h 10m,Non Stop,"28,536",30,Business,Delhi - Kolkata,6
2,Air India Business,16:55,19:10,2h 15m,Non Stop,"28,536",30,Business,Delhi - Kolkata,6
3,Vistara Business,07:30,09:35,2h 05m,Non Stop,"29,096",30,Business,Delhi - Kolkata,6
4,Vistara Business,20:30,22:45,2h 15m,Non Stop,"29,096",30,Business,Delhi - Kolkata,6

In [45]:
df9.to_csv('flight_data_45.csv')

In [46]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=590292330746&version=1.1&viewName=normal')

In [47]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1131156079456&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df10=pd.DataFrame()
df10['Company Name']=company_name
df10['Departure time']=departure_time
df10['Arrival Time']=arrival_time
df10['Duration']=duration
df10['No of stops']=no_of_stops
df10['Rates']=rates
df10['No of days in advanced booked']=60
df10['class']='Economy'
df10['where to where']="Delhi - Kolkata"
df10['Root Value']=6

df10.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India,16:55,19:10,2h 15m,Non Stop,"2,903",60,Economy,Delhi - Kolkata,6
1,Air India,20:15,22:20,2h 05m,Non Stop,"3,428",60,Economy,Delhi - Kolkata,6
2,Air India,06:50,09:00,2h 10m,Non Stop,"3,428",60,Economy,Delhi - Kolkata,6
3,Air Asia,05:00,07:10,2h 10m,Non Stop,"3,999",60,Economy,Delhi - Kolkata,6
4,Go First,05:50,08:00,2h 10m,Non Stop,"3,999",60,Economy,Delhi - Kolkata,6

In [48]:
df10.to_csv('flight_data_46.csv')

In [49]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=512505740447&version=1.1&viewName=normal')

In [50]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Special&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1203679927589&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df11=pd.DataFrame()
df11['Company Name']=company_name
df11['Departure time']=departure_time
df11['Arrival Time']=arrival_time
df11['Duration']=duration
df11['No of stops']=no_of_stops
df11['Rates']=rates
df11['No of days in advanced booked']=60
df11['class']='Premium Economy'
df11['where to where']="Delhi - Kolkata"
df11['Root Value']=6

df11.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Vistara Premium Economy,06:15,08:20,2h 05m,Non Stop,"5,300",60,Premium Economy,Delhi - Kolkata,6
1,Vistara Premium Economy,07:30,09:35,2h 05m,Non Stop,"5,300",60,Premium Economy,Delhi - Kolkata,6
2,Vistara Premium Economy,17:30,19:35,2h 05m,Non Stop,"5,300",60,Premium Economy,Delhi - Kolkata,6
3,Vistara Premium Economy,20:30,22:45,2h 15m,Non Stop,"5,300",60,Premium Economy,Delhi - Kolkata,6

In [51]:
df11.to_csv('flight_data_47.csv')

In [53]:
driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=CCU&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1473285281748&version=1.1&viewName=normal')

In [54]:
#driver.get('https://flight.yatra.com/air-search-ui/seodom/trigger?ADT=1&CHD=0&INF=0&class=Business&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=16%2F12%2F2021&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1359195352579&version=1.1&viewName=normal')
#time.sleep(4)
#company_name
company_name=[]
try:
    company_name1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/span')
    for i in company_name1:
        company_name.append(i.text)
except NoSuchElementException:
    company_name.append('No details available')
except StaleElementReferenceException:
    company_name.append('No details available')
    
# departure time
departure_time=[]
try:
    departure_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[1]/div/div')
    for i in departure_time1:
        departure_time.append(i.text)
except NoSuchElementException:
    departure_time.append('No details available')
except StaleElementReferenceException:
    departure_time.append('No details available')
    
# arrival time
arrival_time=[]
try:
    arrival_time1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[1]/div/div[3]/p[1]')
    for i in arrival_time1:
        arrival_time.append(i.text)
except NoSuchElementException:
    arrival_time.append('No details available')
except StaleElementReferenceException:
    arrival_time.append('No details available')
    
# Duration
duration=[]
try:
    duration1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/p')
    for i in duration1:
        duration.append(i.text)
except NoSuchElementException:
    duration.append('No details available')
except StaleElementReferenceException:
    duration.append('No details available')
    
# Number of stops
no_of_stops=[]
try:
    no_of_stops1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[2]/div/div/div/div/div[2]/div/div/span')
    for i in no_of_stops1:
        no_of_stops.append(i.text)
except NoSuchElementException:
    no_of_stops.append('No details available')
except StaleElementReferenceException:
    no_of_stops.append('No details available')
    
# Rates
rates=[]
try:
    rates1=driver.find_elements_by_xpath('/html/body/section[2]/section/section[2]/section[1]/div[2]/div[2]/div/div/div/div[1]/div[4]/div/div[1]/div/label/div/div[2]')
    for i in rates1:
        rates.append(i.text)
except NoSuchElementException:
    rates.append('No details available')
except StaleElementReferenceException:
    rates.append('No details available')
    
    
df12=pd.DataFrame()
df12['Company Name']=company_name
df12['Departure time']=departure_time
df12['Arrival Time']=arrival_time
df12['Duration']=duration
df12['No of stops']=no_of_stops
df12['Rates']=rates
df12['No of days in advanced booked']=60
df12['class']='Business'
df12['where to where']="Delhi - Kolkata"
df12['Root Value']=6

df12.head()

,Company Name,Departure time,Arrival Time,Duration,No of stops,Rates,No of days in advanced booked,class,where to where,Root Value
0,Air India Business,20:15,22:20,2h 05m,Non Stop,"28,536",60,Business,Delhi - Kolkata,6
1,Air India Business,06:50,09:00,2h 10m,Non Stop,"28,536",60,Business,Delhi - Kolkata,6
2,Air India Business,16:55,19:10,2h 15m,Non Stop,"28,536",60,Business,Delhi - Kolkata,6
3,Vistara Business,06:15,08:20,2h 05m,Non Stop,"29,096",60,Business,Delhi - Kolkata,6
4,Vistara Business,07:30,09:35,2h 05m,Non Stop,"29,096",60,Business,Delhi - Kolkata,6

In [55]:
df12.to_csv('flight_data_48.csv')